<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../engine/Shopware/Components/Plugin/schema/plugin.xsd">
    <label lang="de">Kommandozeile</label>
    <label lang="en">Command Line</label>

    <version>1.0.0</version>
    <link>http://www.davidneustadt.de</link>
    <author>David Neustadt</author>
    <compatibility minVersion="5.4.0" />

    <changelog version="1.0.0">
        <changes lang="de">Initial Release</changes>
        <changes lang="en">Initial Release</changes>
    </changelog>
</plugin>